<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KOZMOS SENTIMENT ANALYSIS</title>
    </head>
    <body>
        <h1>Welcome To Kozmos Sentiment Analysis</h1>
        <h2>Natural Language Processing Project</h2>
        <h3>Pages</h3>
        <ul>
            <li><button onclick="window.location.href='../MainPage/mainpage.html'">Main Page</button></li>
            <li><button onclick="window.location.href='../DatasetAnalyzedPage/df_analyzed.xml'">DataFrame Analyzed</button></li>
            <li><button onclick="window.location.href='../FeaturesOfModelsPage/Log_model_scores_df.xml'">Features Of Models</button></li>
            <li><button onclick="window.location.href='test.html'">Test Page</button></li>
        </ul>
        <form method="POST" action="/predict_log">
            <textarea name="user_input" placeholder="Enter your text here"></textarea>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>